body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background: whitesmoke;
}
.card > div > img {
  top: 60%;
  left: 70%;
  width: 303px;
  height: 303px;
  padding: 20px 40PX 10PX 40PX;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.cartCard > img {
  top: 60%;
  left: 70%;
  width: 200px;
  height: 180px;
  padding: 20px 40PX 10PX 40PX;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.card {
  background: #FFFFFFE6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707066;
  border-radius: 20px;
  opacity: 1;
  top: 60%;
  left: 70%;
  width: 385px;
  height: 450px;
  font: normal normal  20px/27px arial;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.btn {
  border: none;
  outline: none;
  background: #f5da90;
  padding: 5px 10px;
  color: rgb(58, 57, 57);
  border-radius: 5px;
  width: 380px;
  height: 60px;
  cursor: pointer;
  font: normal normal 600 20px/27px arial;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #75c8f8;
}

.heading {
  padding: 25px 0;
  font-size: 180%;
  font: normal normal 300 25px/80px arial;
}
.cartCount {
  
  text-transform: uppercase;
  margin-left: 40px;
}
.navLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

.cartCard {
  display: flex;
  font: normal normal 20px/27px arial;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}


.div-left{
    float:left;
    padding: 0px 20px 10px 20px;
}
.div-right > p{
  float: right;
  padding: 0px 20px 10px 20px;
}
.heading {
  text-align: center;
}
/* .container{
  background-color:  var(---f6f6f6-background-grey);
} */

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

.btn-cart{
  border: none;
  outline: none;
  background: #f5da90;
  padding: 5px 10px;
  color: rgb(58, 57, 57);
  border-radius: 5px;
  width: 380px;
  height: 60px;
  cursor: pointer;
  font: normal normal 600 20px/27px arial;
  transition: all 0.3s ease-in-out;
}

.cart-center{
  text-align: center;
  font: normal normal 300 25px/80px arial;
  height: 90px;
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}

/* .cover {
  background-color: white;
  width: 70%;
  height: 200%;
  position: center;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.alt-login {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}

.alt-login div {
  width: 47.5%;
  height: 90%;
  border-radius: 0.25em;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}



input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
  font-size: 0.75em;
}

input:focus {
  outline-color: rgb(32, 177, 255);
}

.login-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(32, 177, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
}

.login-btn:hover { transform: scale(1.25);}

.text {
  position: relative;
  bottom: 0.5%;
}

.hide {
  position: absolute;
  transform: scale(0);
}

.login-popup {
  position: absolute;
  height: 30em;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background-color: black;
  color: white;
  bottom: 0;
  transform: scale(1);
  transition: 1.5s;
} */

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  border: 1px solid #999999;
}

form button {
  width: 100%;
}

/* responsive styles */
/* md */
@media screen and (max-width: 768px) {
  form {
    max-width: 80%;
  }
}

/* lg */
 @media screen and (min-width: 769px) and (max-width: 1170px) {
   form {
     max-width: 75%;
   }
 }

/* xl */
 @media screen and (min-width: 1171px) {
  form {
    max-width: 55%;
  }
 }





